In [5]:
df = pd.read_csv(
    r"D:\Kaggle datasets\title.basics.tsv.gz",
    sep="\t",
    na_values="\\N",
    low_memory=False
)

In [6]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892.0,NaN,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1,Short

In [7]:
import pandas as pd

# File load
df = pd.read_csv(
    r"D:\Kaggle datasets\title.basics.tsv.gz",
    sep="\t",
    na_values="\\N",
    low_memory=False
)

# 1. Drop NaN in critical columns
df = df.dropna(subset=["primaryTitle", "startYear", "runtimeMinutes", "genres"])

# 2. Fill NaN in less critical columns
df = df.fillna({
    "originalTitle": "Unknown",
    "endYear": 0,
    "genres": "Unknown"
})

# 3. Remove duplicates
df = df.drop_duplicates(subset=["tconst"])

# 4. Convert dtypes
df["isAdult"] = pd.to_numeric(df["isAdult"], errors="coerce").fillna(0).astype("Int64")
df["startYear"] = pd.to_numeric(df["startYear"], errors="coerce").astype("Int64")
df["endYear"] = pd.to_numeric(df["endYear"], errors="coerce").astype("Int64")
df["runtimeMinutes"] = pd.to_numeric(df["runtimeMinutes"], errors="coerce").astype("Int64")

# 5. Check dtypes
print(df.dtypes)

# 6. Save cleaned file
df.to_csv("D:/Kaggle datasets/title_basics_clean.csv", index=False)

print("✅ Cleaned dataset saved as 'title_basics_clean.csv'")

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult            Int64
startYear          Int64
endYear            Int64
runtimeMinutes     Int64
genres            object
dtype: object
✅ Cleaned dataset saved as 'title_basics_clean.csv'

In [17]:
df = pd.read_csv(
    r"D:\Kaggle datasets\title.crew.tsv.gz",
    sep="\t",
    na_values="\\N",
    low_memory=False
)

In [18]:
df.head()

      tconst  directors    writers
0  tt0000001  nm0005690        NaN
1  tt0000002  nm0721526        NaN
2  tt0000003  nm0721526  nm0721526
3  tt0000004  nm0721526        NaN
4  tt0000005  nm0005690        NaN

In [20]:
pip install duckdb

Defaulting to user installation because normal site-packages is not writeable
Collecting duckdb
  Downloading duckdb-1.3.2-cp312-cp312-win_amd64.whl.metadata (7.2 kB)
Downloading duckdb-1.3.2-cp312-cp312-win_amd64.whl (11.4 MB)
   ---------------------------------------- 0.0/11.4 MB ? eta -:--:--
    --------------------------------------- 0.3/11.4 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.4 MB 4.5 MB/s eta 0:00:03
   ------- -------------------------------- 2.1/11.4 MB 4.5 MB/s eta 0:00:03
   ----------- ---------------------------- 3.1/11.4 MB 4.2 MB/s eta 0:00:02
   -------------- ------------------------- 4.2/11.4 MB 4.2 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.4 MB 4.2 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.4 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/11.4 MB 3.9 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.4 MB 3.8 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.4 MB 3.7 MB/s eta 0:00:02
   ---------------------------- ----------- 8.1/11.4 MB 3.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.4 MB 3.5 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.4 MB 3.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.4/11.4 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.4 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.4 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.4 MB 3.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.4 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.4 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.4 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 11.4/11.4 MB 2.6 MB/s  0:00:04
Installing collected packages: duckdb
Successfully installed duckdb-1.3.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import duckdb

# TSV.gz file ko directly read karna
con = duckdb.connect()

# Query: sirf kuch columns aur limited rows dekhne ke liye
df = con.execute("""
    SELECT titleId, ordering, title, region, language, types, attributes, isOriginalTitle
    FROM 'D:/Kaggle datasets/title.akas.tsv.gz'
    LIMIT 10
""").fetchdf()

print(df.head())

     titleId  ordering                      title region language  \
0  tt0000001         1                 Carmencita     \N       \N
1  tt0000001         2                 Carmencita     DE       \N
2  tt0000001         3                 Carmencita     US       \N
3  tt0000001         4  Carmencita - spanyol tánc     HU       \N
4  tt0000001         5                 Καρμενσίτα     GR       \N

         types     attributes  isOriginalTitle
0     original             \N                1
1           \N  literal title                0
2  imdbDisplay             \N                0
3  imdbDisplay             \N                0
4  imdbDisplay             \N                0

In [ ]:
!pip install ipywidgets --upgrade

In [11]:
import duckdb
import pandas as pd

# Path to your IMDb file
file_path = r"D:/Kaggle datasets/title.akas.tsv.gz"

# Query using DuckDB
# nullstr='\\N' tells DuckDB to treat '\N' as NULL automatically
query = f"""
    SELECT
        titleId,
        ordering,
        title,
        region,
        language,
        types,
        attributes,
        CAST(isOriginalTitle AS INTEGER) AS isOriginalTitle
    FROM read_csv_auto('{file_path}', delim='\t', header=True, nullstr='\\N')
"""

# Execute query and fetch as pandas DataFrame
df = duckdb.sql(query).df()

# Drop duplicates (optional, IMDb has many)
df = df.drop_duplicates()

# Save cleaned file to CSV
output_path = r"D:/Kaggle datasets/title_akas_clean.csv"
df.to_csv(output_path, index=False, encoding='utf-8')

print("✅ Cleaning complete. File saved at:", output_path)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

MemoryError: Unable to allocate 2.38 GiB for an array with shape (6, 53168852) and data type object