# Tuples in python

In [1]:
my_tuple = (1,2,3,4,7,8)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4, 7, 8)
<class 'tuple'>

# Mixed Datatypes

In [2]:
my_tuple = (1,2,"Hello",4+5j)
print(my_tuple)
print(type(my_tuple))

(1, 2, 'Hello', (4+5j))
<class 'tuple'>

# nested tuples¶

In [3]:
my_tuple = ("Hello",[1,2,65,],(7,8,9,4))
print(my_tuple)

('Hello', [1, 2, 65], (7, 8, 9, 4))

# Creating a tuple with only one item¶

In [4]:
a = (5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [5]:
b = ("Claaas",)
print(b)
print(type(b))

('Claaas',)
<class 'tuple'>

In [6]:
a = (1,2,3,4,5,6,7,8,9,10)
b = 0
print(len(a))
for i in range (10):
    b = b+a[i]
    i = i+1
print("The sum of the numbers are",b)

10
The sum of the numbers are 55

In [7]:
a = (1,2,3,4,5,6,7,8,9,10)
b = 1
print(len(a))
for i in range (10):
    b = b*a[i]
    i = i+1
print("The multiple of the numbers are",b)

10
The multiple of the numbers are 3628800

# Tuple Constructor

In [8]:
a = tuple((1,"a","b"))
print(a)
print(type(a))

(1, 'a', 'b')
<class 'tuple'>

# Indexing in tuple

In [9]:
a = tuple((1,"a","b",56,87,"hello"))
print(a)
print(type(a))
print(a[2])

(1, 'a', 'b', 56, 87, 'hello')
<class 'tuple'>
b

# Slicing

In [10]:
a = tuple((1,"a","b",56,87,"hello"))
print(a)
print(type(a))
print(a[1:5:2])

(1, 'a', 'b', 56, 87, 'hello')
<class 'tuple'>
('a', 56)

In [11]:
x = (1,2,3,67,5,7,8,9,4,32,1)
print(x[::-1])

(1, 32, 4, 9, 8, 7, 5, 67, 3, 2, 1)

In [12]:
t = (1,2,3,4,5,6,7,8)
print(t[::])
print(t[3 :])
print(t[: 4])
print(t[-2 : -5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

# Add and remove items from tuple

In [13]:
a = (1,2,3,44,55,66,9,8)
b = list(a)
b.append(7)
a = tuple(b)
print(a)

(1, 2, 3, 44, 55, 66, 9, 8, 7)

In [14]:
a = (1,2,3,44,55,66,9,8)
b = list(a)
b.remove(55)
a = tuple(b)
print(a)

(1, 2, 3, 44, 66, 9, 8)

# write a program to take 5 input from user and store them in a tuple?¶

In [3]:
T =()
i = 0
while i<=5:
    num = int(input("Enter a value please!"))
    T = T + (num,)
    i = i+1
    print(T)

Enter a value please! 23

(23,)

Enter a value please! 43

(23, 43)

Enter a value please! 54

(23, 43, 54)

Enter a value please! 6

(23, 43, 54, 6)

Enter a value please! 1

(23, 43, 54, 6, 1)

Enter a value please! 2

(23, 43, 54, 6, 1, 2)

In [1]:
x = []
i = 0
while i<=4:
    num = int(input("Enter a value"))
    x = x + [num]
    i = i+1
    print(x)

Enter a value 1

[1]

Enter a value 2

[1, 2]

Enter a value 3

[1, 2, 3]

Enter a value 4

[1, 2, 3, 4]

Enter a value 5

[1, 2, 3, 4, 5]

In [ ]:
x = (1,2,54)
y = (76,67,"Claaas")
z = x+y
print(z)