# User defined Function

# Creating User defined function

In [ ]:
def my_function():
    print("Assalamualikum Everyone")

# Calling a function

In [ ]:
my_function()

# Making the result of students

In [ ]:
def contact():
    print("Contact details of Board")
    print("AJK mirpur board")
    print("Muzaffarabad")
    print("098-7676677799")
    print("ajkbord@gmail.com")
for i in range(3):
    a = input("Enter student name")
    b = int(input("Enter the marks of Computer"))
    c = int(input("Enter the marks of Math"))
    d = int(input("Enter the marks of English"))
    e = int(input("Enter the marks of Physics"))
    print()
    contact()

In [ ]:
def my_func():
    n = 10
    i = 1
    for i in range(1,11):
        print(f"{n} * {i} : {n*i}")
my_func()

In [ ]:
def my_fun():
    n = 6
    factorial = 1
    for i in range(1,n+1):
         factorial*=i
    print(f"{n} : {factorial}")
my_fun()

# Arguments

In [ ]:
def myfunc(fname):
    print(fname + " " + "sharma")
myfunc("Rohit")

In [ ]:
def myfunction(fname, lname):
    print(fname + " " + lname)
myfunction("virat","kohli")

In [ ]:
def myfun(fname):
    print(fname + " " + "Azam")
myfun("Babar")

In [ ]:
def myfunc(midname):
    print("King"+ " " + midname + " " + "Azam")
myfunc("Babar")

# Write a program to calculate the electricity bill
# if 500 unit used - pay RS 5 for each unit
#  if 700 unit used - pay RS 7 for each unit
#  if 1000 unit used - pay RS 10 for each unit
# if more than 1000 unit used- pay RS 20 for each unit

In [ ]:
def electricity_bill(n):
    if n <= 500:
        print("Your Bill is RS", n * 5)
    elif 500 < n <= 700:
        print("Your Bill is RS", n * 7)
    elif 700 < n <= 1000:
        print("Your Bill is RS", n * 10)
    elif n > 1000:
        print("Your Bill is RS", n * 20)
def instructions():
    print()
    print("Last date of submit bill is 7 july")
    print("After due date 10 percent extra charged")
    print("Hajira grid station")
    print("electricty@gmail.com")
    print()
for i in range(2):
    a = input("Enter name of user: ")
    b = int(input("Enter units that you have used: "))
    electricity_bill(b)
    instructions()

In [ ]:
def greet(name):
    print("Hello," + " " + name)
greet("Alice!")

# Write a function add that takes two numbers as arguments and returns their sum.

In [ ]:
def add(a, b):
    return a + b

# Example usage:
result = add(5, 3)
print("Sum:", result)  # Output should be: Sum: 8

# Create a function square that takes a number as an argument and returns its square.

In [ ]:
def square(n):
    return n*n
result = square(5*5)
print("Square",result)

# Write a function max_of_two that takes two numbers as arguments and returns the larger of the two.

In [ ]:
def max_of_two(a, b):
    if a<b:
        print("Maximum of two",b)
    elif a>b:
        print("Maximum of two",a)
result = max_of_two(20,10)
#print("Maximum of two",result)

# Define a function factorial that calculates the factorial of a given number.

In [ ]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage:
result = factorial(6)
print("Factorial:", result)  # Output should be: Factorial: 120

# Define a function list_operations that takes a list of numbers and returns a tuple containing the minimum, maximum, and sum of the numbers in the list.

In [ ]:
def list_operations(numbers):
    if not numbers:
        return None  # Return None if the list is empty
    
    min_number = min(numbers)
    max_number = max(numbers)
    sum_numbers = sum(numbers)
    
    return (min_number, max_number, sum_numbers)

# Example usage:
numbers_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]
result = list_operations(numbers_list)
print("Minimum, Maximum, Sum:", result)  # Output should be: Minimum, Maximum, Sum: (1, 9, 36)

# Write a function celsius_to_fahrenheit that converts a temperature from Celsius to Fahrenheit.

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

# Example usage:
celsius_temp = 25
fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
print(f"{celsius_temp} degrees Celsius is equal to {fahrenheit_temp} degrees Fahrenheit")

In [ ]:
def celcius_to_fahrenheit(celsius):
    fahrenheit = (celcius * 9/5) +32
    return fahrenheit
celcius_temp  = 20
fahrenheit_temp = celsius_to_fahrenheit(celcius_temp)
print(f"{celcius_temp} degree celcius equal to {fahrenheit_temp} dgrees farenheit")

# Write a function fahrenheit_to_celcius that converts a temperature from  Fahrenheit to Celsius .

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Example usage:
fahrenheit_temp = 77
celsius_temp = fahrenheit_to_celsius(fahrenheit_temp)
print(f"{fahrenheit_temp} degrees Fahrenheit is equal to {celsius_temp} degrees Celsius")

In [ ]:
def celcius_to_farhenheit(celcius):
    farhenheit = (celcius * 9/5)+32
    return farhenheit
celcius_temp = 25
farhenheit_temp = celcius_to_farhenheit(celcius_temp)
print(f"{celcius_temp} degrees equal to {farhenheit_temp} degrees farhenheit")

# Prices of Medicines used by people

In [ ]:
def medicine_price(medicine, quantity):
    if medicine == "paracetamol":
        price = 10
    elif medicine == "ibuprofen":
        price = 20
    elif medicine == "antibiotic":
        price = 50
    elif medicine == "cough syrup":
        price = 30
    else:
        print(f"Sorry, we don't have {medicine} in stock.")
        return
    
    total_price = price * quantity
    print(f"The total price for {quantity} units of {medicine} is RS {total_price}")

def instructions():
    print()
    print("Store hours: 9 AM - 9 PM")
    print("Contact: medicalstore@example.com")
    print("Address: 123 Health St, Wellness City")
    print()

for i in range(2):
    name = input("Enter name of the medicine: ").lower()
    qty = int(input("Enter the quantity you want to purchase: "))
    medicine_price(name, qty)
    instructions()

Enter name of the medicine:  paracetamol
Enter the quantity you want to purchase:  5

The total price for 5 units of paracetamol is RS 50

Store hours: 9 AM - 9 PM
Contact: medicalstore@example.com
Address: 123 Health St, Wellness City